.modal-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.modal-full-width {
  width: 100%;
}

.content-input {
  min-width: 300px;
  min-height: 300px;
}

app-create-post-modal {
  min-width: 45vw;
}
